<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp">
	<display-name>iBankWeb</display-name>
	<servlet>
		<servlet-name>ShowIBankServlet</servlet-name>
		<display-name>ShowIBankServlet</display-name>
		<servlet-class>com.overstar.ildar.ibank.servlets.ShowIBankServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertIClientServlet</servlet-name>
		<display-name>InsertIClientServlet</display-name>
		<servlet-class>com.overstar.ildar.ibank.servlets.InsertIClientServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChooseActionServlet</servlet-name>
		<display-name>ChooseActionServlet</display-name>
		<servlet-class>com.overstar.ildar.ibank.servlets.ChooseActionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChooseRecipientServlet</servlet-name>
		<display-name>ChooseRecipientServlet</display-name>
		<servlet-class>com.overstar.ildar.ibank.servlets.ChooseRecipientServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChooseRecipientActionServlet</servlet-name>
		<display-name>ChooseRecipientActionServlet</display-name>
		<servlet-class>com.overstar.ildar.ibank.servlets.ChooseRecipientActionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StopServlet</servlet-name>
		<display-name>StopServlet</display-name>
		<servlet-class>com.overstar.ildar.ibank.servlets.StopServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChooseDocumentsServlet</servlet-name>
		<display-name>ChooseDocumentsServlet</display-name>
		<servlet-class>com.overstar.ildar.ibank.servlets.ChooseDocumentsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChooseDocumentActionServlet</servlet-name>
		<display-name>ChoosePaymentsActionServlet</display-name>
		<servlet-class>com.overstar.ildar.ibank.servlets.ChoosePaymentsActionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChooseAccreditivsActionServlet</servlet-name>
		<display-name>ChooseAccreditivsActionServlet</display-name>
		<servlet-class>com.overstar.ildar.ibank.servlets.ChooseAccreditivsActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowIBankServlet</servlet-name>
		<url-pattern>/ShowIBankServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertIClientServlet</servlet-name>
		<url-pattern>/InsertIClientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChooseActionServlet</servlet-name>
		<url-pattern>/ChooseActionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChooseRecipientServlet</servlet-name>
		<url-pattern>/ChooseRecipientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChooseRecipientActionServlet</servlet-name>
		<url-pattern>/ChooseRecipientActionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StopServlet</servlet-name>
		<url-pattern>/StopServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChooseDocumentsServlet</servlet-name>
		<url-pattern>/ChooseDocumentsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChooseDocumentActionServlet</servlet-name>
		<url-pattern>/ChoosePaymentsActionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChooseAccreditivsActionServlet</servlet-name>
		<url-pattern>/ChooseAccreditivsActionServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
